body
{

}


header
{
background-color: #620CAC;
height: 150px;
}

section
{
	margin-top: 1%;
	margin-botton: 1%;
	background-color: #9040D5;
	float: left;
	width: 70%;
	height: 450px;
	margin-right: 1%;


}


aside
{
	margin-top: 1%;
	background-color: #A368D5;
	float: right;
	width: 25%;
	height: auto;
}


footer
{
	background-color: #3E0470;
	clear: both;
}