body {
    background-position: center;
    font-family: garamond;
    border-left: 100px solid black;
    border-right: 100px solid black;
}




#header{
	background-color: white;
	color: black;
	font-size: 30px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	text-align: center;
	margin-bottom:30px;
	margin-left: 20px;
	padding-bottom: 30px;
	width: 1007px;
	height: 100px;	
}



#content {
	float: left;
	position: relative;
	left: 100px;
	top: 20px;
	width: 60%;
	padding-right: 10%;
	
}



#content p {
	font-size: 15px;
	width: 70%;
	height: 100%;
}


#sidebar {
	float: right;
	position: relative;
	top: -20px;
	left: 60px;
	width: 30%;
	height: 100%;

}



#aboutme{

position: relative;
border: 2px dotted black;
text-align: center;
font-size: 12px;
top: 10px;
width: 67%;
}


#archives {
	font-size: 13px;
	border: 2px dotted black;
	height: 100%;
	width: 67%;
}


#mypic {
	width: 110px;
	height: 110px;
}


a:link , a:visited {
color: gray;
}


a:hover {
color: white;
}


#footer {
	clear: both;
	position: relative;
	text-align: center;
	color: white;
	background-color: black;
	width: 100%;
	height: 60px;
	
}

/*I used an online resource to learn how to make a button*/

a.standard {
	border: 1px solid rgba(0, 0, 0, .2);
	color: black;
	display: inline-block;
	padding: .5em .8em;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}


 .standard.gray {
		background-color: white;
}


 .standard:hover { color: #fff; opacity: .5 }




 
